# Presence of this file stops npm from falling back to .gitignore (which excludes dist/).
# What ships is the `files` allowlist in package.json: dist, src, README, LICENSE-*.
# Keep source maps + src so published sourcemaps resolve for consumers.
